* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
:root {
	--bg-primary-color: #101214;
	--bg-secondary-color: #333333;
	--primary-color: #9fadbc;
}
.container {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
}
.container img {
	width: 80px;
	cursor: pointer;
}
.dark {
	background-color: var(--bg-primary-color);
	transition: all 0.5s;
}

.light {
	color: #000;
	background-color: #fff;
	transition: all 0.5s;
}
.dark ul {
	display: flex;
	gap: 50px;
}
.dark ul li {
	cursor: pointer;
	letter-spacing: 0.5px;
	list-style: none;
	color: #fff;
}

.light ul {
	display: flex;
	gap: 50px;
}
.light ul li {
	cursor: pointer;
	letter-spacing: 0.5px;
	list-style: none;
	color: #000;
}
.container .active {
	font-weight: 500;
	color: var(--primary-color);
	transition: 0.5s ease-in-out;
}
.light-mode {
	cursor: pointer;
	font-size: 30px;
	border-radius: 50%;
	color: var(--bg-primary-color);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.light-mode::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: var(--primary-color);
	z-index: -1;
}

.dark-mode {
	cursor: pointer;
	font-size: 30px;
	border-radius: 50%;
	color: var(--bg-primary-color);
	position: relative;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.dark-mode::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: var(--primary-color);
	z-index: -1;
}

.home-container {
	width: 100%;
	min-height: 100dvh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.home-container img {
	width: 80%;
}
.bar-icon,
.xmark-icon {
	display: none;
}
@media screen and (max-width: 800px) {
	.container {
		display: grid;
		place-items: center;
		grid-template-columns: repeat(3, 1fr);
		margin: 10px auto;
		align-items: center;
	}
	.container img {
		width: 60px;
		grid-column: 2;
	}
	.light-mode,
	.dark-mode {
		font-size: 25px;
		grid-row: 1;
		grid-column: 1;
	}
	.dark-mode::before,
	.light-mode::before {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
	.bar-icon,
	.xmark-icon {
		display: block;
		grid-row: 1;
		grid-column: 3;
		font-size: 25px;
		margin-top: 10px;
	}
	.bar-icon {
		display: block;
	}
	.xmark-icon {
		display: none;
	}
	.dark .bar-icon {
		color: var(--primary-color);
	}
	.dark .xmark-icon {
		color: var(--primary-color);
	}
	.light .bar-icon {
		color: var(--bg-primary-color);
	}
	.light .xmark-icon {
		color: var(--bg-primary-color);
	}

	.light ul {
		width: 90%;
		height: 85dvh;
		border-radius: 20px;
		position: absolute;
		top: 4rem;
		display: none;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		gap: 30px;
		background-color: var(--primary-color);
		z-index: -1;
	}

	.dark ul {
		width: 90%;
		height: 85dvh;
		border-radius: 20px;
		position: absolute;
		top: 4rem;
		display: none;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		gap: 30px;
		background-color: var(--bg-secondary-color);
		z-index: -1;
	}

	.light .active {
		font-weight: 500;
		color: #fff;
		transition: 0.5s ease-in-out;
	}
}
